

a {
    text-decoration: none;		
}

img {
	width: 50%;	
}

nav ul {
    list-style-type: none;
    padding: 0;	
	display: block;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

Section{
	border: 1px solid gray;
}

.container {
    width: 100%;
    border: 1px solid gray;
}

#menu-global {
	padding-left: 25%;
	
}

#menu-global a{
	margin-right: 3em;
	
	
}

#conteudo{
	display: block;
	border: 1px solid red;
	padding: 5px;
	width: 60%;
	margin-left: 27%;
	margin-top: 1em;;
	
}

#conteudo div{
	margin-right: 1em;
	margin-right: 1em;
	border: 1px solid blue;
	padding: 2%;
}

#menu-lateral{
	float: left;
	width: 20%;
	margin-top: 0.5em;
	margin-left: 3em;
    padding: 1em;
	border: 1px solid yellow;
	
}

#categorias li {
	padding-bottom: 0;
}

#categorias li a {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;	
	display: block;
}

#categorias li a:hover {
	background-color: gray;
	color: white;
}   
